<?xml version='1.0' encoding='utf-8'?>
<widget id="logic" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <!-- versionCode is optional and Android only -->
    <preference name="phonegap-version" value="3.3.0" />
    <name>DeviceSensor</name>
    <description>
        端末のセンサー情報収集
    </description>
    <author href="" email="wadolsh@gmail.com">
        CHOI SUNGHO
    </author>
    
    <gap:platform name="android" />
    <access origin="*" />
</widget>
